@font-face {
    font-family:'Calibre-Bold';
    src: url('fonts/Calibre-Bold.eot');
    src: url('fonts/Calibre-Bold.ttf');
    format('truetype');
}

#sketch-holder{
    z-index: -1;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 95%;
    top: 0;
    left: 0;
    position: fixed !important;
}

body{
    background-color: black;
}

#content-wrapper {
    /* These styles are required for the "scroll-over" effect */
    position: absolute;
    top: 95%;
    width: 110%;
    min-height: 12%;
    z-index: 2;
    background-color: black;
}


#poem-div{
    color: white;
    font-family: 'Calibre-Bold';
    font-size: 1.5em;
    line-height: 1.52em;
    letter-spacing: 1pt;
    text-align: center;
    background-color: black;
    padding: 15%;
}

/* 
div{
    border: blueviolet 1px solid;
} */