@font-face {
    font-family:'CheltenhamStd-Light';
    src: url('fonts/CheltenhamStd-Light.eot');
    src: url('fonts/CheltenhamStd-Light.ttf');
    format('truetype');
}

@font-face {
    font-family:'CheltenhamStd-LightItalic';
    src: url('fonts/CheltenhamStd-LightItalic.eot');
    src: url('fonts/CheltenhamStd-LightItalic.ttf');
    format('truetype');
}

body{
    font-family: 'CheltenhamStd-Light','Times New Roman', serif;
    font-size: 1.5em;
    color: black;
    margin: 2%;
}

h1 {
    font-family: 'CheltenhamStd-Light','Times New Roman', serif;
    font-size: 1.5em;
    color: black;
}