@font-face {
    font-family:'CanelaText-Thin';
    src: url('fonts/CanelaText-Thin.eot');
    src: url('fonts/CanelaText-Thin.ttf');
    format('truetype');
}


@font-face {
    font-family:'FoundersGrotesk-Semibold';
    src: url('fonts/FoundersGrotesk-Semibold.eot');
    src: url('fonts/FoundersGrotesk-Semibold.ttf');
    format('truetype');
}


#sketch-holder{
    position:fixed;
    z-index: 1;
    display: flexbox;
}

.container{
    padding: 2%;
}

#title{
    font-family:'FoundersGrotesk-Semibold';
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.75pt;
    text-align: left;
    position:fixed;
    padding-left: 1.2%;
}


.byline-div{
    float:right;
    /* transform: rotate(90deg); */
}

#byline{
    position:fixed;
    float: right;
    font-family:'FoundersGrotesk-Semibold';
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.75pt;
    text-align: left;
    left: 750px;
}


#poem{
    padding-top: 8%;
    font-family: 'CanelaText-Thin', 'Times New Roman', Times, serif;
    font-size: 2.85em;
    line-height: 1.55em;
    letter-spacing: 0.25pt;
}

.gradient {
  
    /* will be "on top", if browser supports it */
    background-image: radial-gradient(farthest-corner at 100px 100px,
    #F3CDF3 30%, #FFD4D4 70%, #EBD3EB 100%);
  
    background: radial-gradient(farthest-corner at 100px 100px,
    #F3CDF3 30%, #FFD4D4 50%, #EBD3EB 100%);
  }