@font-face {
    font-family:'GalaxieCopernicus-Book';
    src: url('fonts/GalaxieCopernicus-Book.eot');
    src: url('fonts/GalaxieCopernicus-Book.ttf');
    format('truetype');
}

@font-face {
    font-family:'GalaxieCopernicus-BookItalic';
    src: url('fonts/GalaxieCopernicus-BookItalic.eot');
    src: url('fonts/GalaxieCopernicus-BookItalic.ttf');
    format('truetype');
}

@font-face {
    font-family:'GT-America-Extended-Black';
    src: url('fonts/GT-America-Extended-Black.eot');
    src: url('fonts/GT-America-Extended-Black.ttf');
    format('truetype');
}

body{
    background-image:
    radial-gradient(
      circle,
      #cacfd9,
      whitesmoke,
      white
    );
}

.container{
    padding-top: 20%;
    position: relative;
    margin: margin: 0 auto;
    width: 100%;
}

#title{
    font-family: 'GalaxieCopernicus-Book';
    font-size: 6em;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: -0.05em;
    line-height: 0.9em;
}

#title-div{
    /* border: 1px black solid; */
    position: relative;
}

#author-div{
    /* margin-left: auto;
    margin-right: auto;
    position: relative; */
    /* border: 1px black solid; */
    margin-top: 1%;
}

#author{
    font-family: 'GT-America-Extended-Black';
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    text-align: center;
}

#arrow-div{
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 10%;
}


.bone_div{
    z-index: 1;
    position: absolute;
    /* top: 100; */
}

#bone1{
    left: 20px;
    top: 150px;
}

#bone2{
    right: 150px;
    bottom: 200px;
}

#bone3{
    right: 100px;
    top: 50px;
}

#bone4{
    left: 200px;
    top: 200px;
}

#bone5{
    right: 100px;
    top: 300px;
}

.draggable {
    cursor: -webkit-grabbing; cursor: grabbing;
}


#poem{
    font-family: 'GalaxieCopernicus-Book';
    font-size: 1.5em;
    text-align: left;
    line-height: 1.8em;
    margin-top: 10%;
    margin-bottom: 10%;
    /* border: 1px black solid; */
}