@font-face {
    font-family:'DrukTextWide-Bold';
    src: url('fonts/DrukTextWide-Bold.eot');
    src: url('fonts/DrukTextWide-Bold.ttf');
    format('truetype');
}

@font-face {
    font-family:'fortescue-regular';
    src: url('fonts/fortescue-regular.eot');
    src: url('fonts/fortescue-regular.ttf');
    format('truetype');
}

@font-face {
    font-family:'fortescue-bold';
    src: url('fonts/fortescue-bold.eot');
    src: url('fonts/fortescue-bold.ttf');
    format('truetype');
}


html, body{
    background-color: black;
}

#poem-container{
    margin-top: 8%;
    margin-bottom: 15%;
    background-color:black;
}


#bg{
    position:fixed;
    top:0;
    left:0;
    min-width:100%;
    min-height: 100%;
    z-index: 1;
}

#zoom {
    transition: transform 2s; /* Animation */
    margin: 0 auto;
}
  
#zoom:hover {
    transform: translate(0%, -50%);
}

.zoom-img:hover{
    -webkit-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0);
    transition: 5s ease;
}

.top-bar{
    overflow: hidden;
    background-color:white;
    position: fixed;
    top: 0;
    width: 100%;
    height: 6%;
    z-index: 3;
}


/*//////////// POEM PAGE ///////////// */


#title{
    font-family: 'DrukTextWide-Bold';
    font-size: 0.9em;
    text-transform: uppercase;
    letter-spacing: 0.125em;
    color: white;
    margin-bottom: 2%;
    z-index: 3;
}

#poem{
    font-family: 'Fortescue-regular';
    font-size: 2em;
    color: white;    
    z-index: 2;
    line-height: 1.35em;
}

#poem-byline{
    margin-top:2%;
    margin-bottom:2%;
    font-family:'DrukTextWide-Bold';
    font-size: 0.9em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    z-index: 2;
    color: white;
    transform-origin: 20% 800px;
    transform: rotate(90deg);
    display: block;
    position: relative;
}

a{
    color: white;
}

#robin-img{
    padding-top: 5%;
    width: 3em;
    z-index: 2;
}

/* div{
    border: 1px solid lime;
    /* background-color: black; */
} */

#yellow-spotted-img{
    width: 250px;
    z-index: 5;
}
