@font-face {
    font-family:'PlantinHeadlineMTStd-LigCn';
    src: url('fonts/PlantinHeadlineMTStd-LigCn.eot');
    src: url('fonts/PlantinHeadlineMTStd-LigCn.ttf');
    format('truetype');
}

@font-face {
    font-family:'FoundersGrotesk-Semibold';
    src: url('fonts/FoundersGrotesk-Semibold.eot');
    src: url('fonts/FoundersGrotesk-Semibold.ttf');
    format('truetype');
}

canvas {
    display: relative;
}
  

#top-rectangle{
    border-top: solid 10pt black;
    width: 100%;
}


.container {
    padding: 2%;
    position:relative;
}

p {
    position:relative;
    font-family: 'PlantinHeadlineMTStd-LigCn','Times New Roman', Times, serif;
    font-size: 0.8em;
}

#title {
    font-family:'FoundersGrotesk-Semibold';
    font-size: 3.5em;
}

#author {
    font-family: 'PlantinHeadlineMTStd-LigCn';
    font-size:0.22em;
}

div{
    padding: 2%;
    padding-bottom: 2%;
    /*border: 1px solid black; */
}

.container img {   
    position: relative;
    top: -90px;
    width: 90%;
    display: inline-block;
}

.col-12 col-lg-4{
    border: 1px solid black;
}

.overlay {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: .3s ease;
    
  }

 .overlay:hover {
    opacity: 0;
    background-color: white;
}