@font-face {
    font-family:'monument-grotesk-regular';
    src: url('fonts/monument-grotesk-regular.eot');
    src: url('fonts/monument-grotesk-regular.ttf');
    format('truetype');
}

@font-face {
    font-family:'columbiasans-regular';
    src: url('fonts/columbiasans-regular.eot');
    src: url('fonts/columbiasans-regular.ttf');
    format('truetype');
}

p{
    font-family: 'columbiasans-regular', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.15em;
    color: black;
}

.col-lg-12 {
    margin: 0.5%;
    border:  black dotted 5px;
    border-radius: 45px;
    padding: 15px;
}

.col-lg-6 {
    margin: 0.5%;
    background-color: plum;
    border: black dotted 5px;
    border-radius: 45px;
    padding: 15px;
}

.col-lg-4 {
    margin: 1%;
    background-color: seashell;
    border:  black dotted 5px;
    border-radius: 45px;
    padding: 15px;
}

.col-lg-3 {
    margin: 1%;
    background-color: cornflowerblue;
    border: black dotted 5px;
    border-radius: 45px;
    padding: 15px;
}

.col-lg-2 {
    margin: 0.5%;
    background-color: yellow;
    border: black dotted 5px;
    border-radius: 45px;
    padding: 15px;
}